/**
 * SCSS Variables and Mixins
 * for styling buttons and divs
 */
$text-color: #fff;
$button-bg-1: #087671;
$button-bg-2: #0011ff;
$margin: 0.5rem;
$scss-div-bg: #3399cc;
@mixin button-style($color, $bg-color, $mtop) {
  background-color: $bg-color;
  margin-top: $mtop;
  color: $color;
}

.scss-active-button {
  @include button-style($text-color, $button-bg-1, $margin);
}
.scss-inactive-button {
  @include button-style($text-color, $button-bg-2, $margin);
}

.scss-div {
  background-color: $scss-div-bg;
  color: $text-color;
  margin-top: $margin;
  margin-bottom: $margin;
  font: {
    weight: bold;
  }
}
