/**
 * This is a CSS Module file for styling.
 * Class names defined here will be locally scoped and transformed.
 */
.my-color-white {
  color: #ffffff;
}

.myColorRed {
  color: #ff0011;
}

.my-bg-green {
  background-color: #087671;
}

.myBgBlue {
  background-color: #0011ff;
}

.myMargin2 {
  margin: 0.5rem;
}
