/*.list-container {
  max-width: 600px;
  width: max-content;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
*/
.list-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
ol {
  padding-left: 0;
  counter-reset: list-counter;
}

.list-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.list-item div button {
  border-radius: 8px;
  border: 1px solid rgb(90, 95, 82);
}
.list-item-number {
  font-weight: bold;
  margin-right: 10px;
  counter-increment: list-counter;
}

.list-item-number::before {
  content: counter(list-counter) ". ";
}

.list-item-content {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  flex-grow: 1;
}

.list-item-content h3 {
  margin: 0;
  font-size: 1em;
}

.list-item-content p {
  margin: 5px 0;
  font-size: 0.9em;
}

.list-item-content div button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.my-box-border-1 {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 8px;
  margin-top: 5px;
}
.text-color-blue {
  color: #0011ff;
  margin-top: auto;
  margin-bottom: auto;
}

.fg-red {
  color: #ff0000;
}

.fg-blue {
  color: #0011ff;
}


.fg-black {
  color: black;
}

.bg-red {
  background-color: #ff0000;
}

.bg-blue {
  background-color: #0011ff;
}

.bg-grey {
  background-color: rgb(128, 128, 128);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.same-width-input {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.same-width-div {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form span.error-text{
  color: #ff0000;
}
